<html>
    <head>
        <link rel="stylesheet" href="styles.css">
</head>
   <body>
      <h1 > Delete Task </h1>
      <br>
      <h2>
          <a href="/">Insert new task/developer</a>
          <a href = "/getTask" >Get task</a>
          <a href = "/getDeveloper" >Get developer</a>        
          <a href = "/updateTaskStatus" >Update task status</a><br>
      </h2>

      <form action = "/deletetaskdata" method ="POST">
        Task ID <input type="number" name= "taskid" /><br><br>  
        <button>Submit</button>
      </form> 

        <form action = "/deletecompleted" method ="POST">
        <button>Delete completed task</button>    
      </form>
   </body>
</html>