<html>
        <head>
                <link rel="stylesheet" href="styles.css">
        </head>
        
<body>
    <h1>Get all tasks</h1> </br>
    <h2> <a href="/">Insert new task/developer</a>
        <a href = "/getDeveloper" >Get developer</a>        
        <a href = "/deleteTask" >Delete task</a>
        <a href = "/updateTaskStatus" >Update task status</a><br>
    </h2>
    <table>
        <tr>
            <td>Task ID</td>
            <td>Task name</td>
            <td>Assign to</td>
            <td>Due date</td>
            <td>Task status</td>
            <td>Task Desc</td>
        </tr>
        <% for (let i=0;i<taskDb.length;i++){ %>
            <tr>
                <td> <%= taskDb[i].taskID %> </td>
                <td> <%= taskDb[i].taskName %> </td>
                <td><%= taskDb[i].assignTo %></td>
                <td><%= taskDb[i].dueDate %></td>
                <td><%= taskDb[i].taskStatus %></td>
                <td><%= taskDb[i].taskDescp %></td>
            </tr>
            <%}%>
    </table>
</body>
</html>