               
table, th, td {
    border: 2px solid rgba(0, 162, 255, 0.938);
    border-collapse: collapse;
    } 
    th, td {
    padding: 15px;
    }
    table {
    width: 100%; 
    background-color: #87f3b8f5;
    }
body{
    background-color:rgb(134, 237, 255) ;
     }
h1 {
    color: rgb(33, 118, 216); 
    text-align: center;    
    } 
button {
        background-color: rgb(9, 172, 184);
        border: none;
        color: black;
        padding: 7px 14px;
        text-align: center;
        font-size: 14px;
        cursor: pointer;
      }
      
button:hover {
        background-color: rgb(10, 165, 126);
      }         
    
               